@model BeHealthy.Web.Dtos.Fitness.Exercises.InputModels.ExerciseInputModel

@{
    ViewData["Title"] = "Create";
}

<form asp-area="Fitness" asp-controller="Exercises" asp-action="Create" method="post">
    <h1>Create an exercise</h1>
    <hr />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <a class="btn btn-danger float-left" asp-area="Fitness" asp-controller="Exercises" asp-action="Browse">Cancel</a>
    <button type="submit" class="btn btn-success float-right">Create</button>
</form>
