@model BeHealthy.Web.Dtos.Fitness.Workouts.InputModels.WorkoutInputModel

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-area="Fitness" asp-controller="Workouts" asp-action="Create">
    <h1>Create a workout</h1>
    <hr />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Weekday"></label>
        <select class="form-control dropdown" asp-for="Weekday" asp-items="@Html.GetEnumSelectList(typeof(BeHealthy.Data.Models.Enumerators.Weekday))"></select>
        <span asp-validation-for="Weekday" class="text-danger"></span>
    </div>

    <a class="btn btn-danger float-left" asp-area="Fitness" asp-controller="Workouts" asp-action="Schedule">Back</a>
    <input class="btn btn-success float-right" type="submit" value="Create" />
</form>