@model BeHealthy.Web.Dtos.Fitness.Workouts.InputModels.WorkoutEditInputModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-area="Fitness" asp-controller="Workouts" asp-action="Edit">
    <h1>Edit</h1>
    <hr />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Weekday"></label>
        <select class="form-control dropdown" asp-for="Weekday" asp-items="@Html.GetEnumSelectList(typeof(BeHealthy.Data.Models.Enumerators.Weekday))"></select>
        <span asp-validation-for="Weekday" class="text-danger"></span>
    </div>

    <input hidden asp-for="Id" />

    <a class="btn btn-danger float-left" asp-area="Fitness" asp-controller="Workouts" asp-action="Details" asp-route-workoutId="@Model.Id">Back</a>
    <input class="btn btn-success float-right" type="submit" value="Edit" />
</form>
