@model IEnumerable<WorkoutViewModel>

@{
    ViewData["Title"] = "Schedule";
}

<h1>Schedule</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        @if (!Model.Any())
        {
            <h2>There are no workouts yet.</h2>
        }
        else
        {
            <div class="row">
                @foreach (Weekday weekday in Enum.GetValues(typeof(Weekday)))
                {
                    var exercises = Model.Where(x => x.Weekday == weekday);

                    @if (exercises.Count() > 0)
                    {
                        <div class="list-group my-md-2 col-md-4">
                            <div class="list-group-item bg-info text-white">
                                <h5 class="d-inline">@weekday</h5>
                                <span class="badge badge-primary badge-pill">@exercises.Count() Exercises</span>
                            </div>
                            @foreach (var workout in exercises)
                            {
                                <a asp-area="Fitness" asp-controller="Workouts" asp-action="Details" asp-route-workoutId="@workout.Id" class="list-group-item list-group-item-action">@workout.Name</a>
                            }
                        </div>
                    }
                }
            </div>
        }
    </div>
    <div class="col-md-2">
        <h4>Actions</h4>
        <a asp-area="Fitness" asp-controller="Workouts" asp-action="Create" class="btn btn-primary">Create a Workout</a>
    </div>
</div>
