@model IEnumerable<WorkoutViewModel>

@{
    ViewData["Title"] = "Schedule";
}

<h1>Schedule</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        @if (!Model.Any())
        {
            <p>There are no workouts yet.</p>
        }
        else
        {
            @foreach (Weekday weekday in Enum.GetValues(typeof(Weekday)))
            {
                @if (Model.Any(x => x.Weekday == weekday))
                {
                    <h2>@weekday</h2>
                    <hr />
                    @foreach (var workout in Model.Where(x => x.Weekday == weekday))
                    {
                        <div class="card my-2">
                            <h5 class="card-header">@workout.Name</h5>
                            <div class="card-body">
                                <a asp-area="Fitness" asp-controller="Workouts" asp-action="Details" asp-route-workoutId="@workout.Id" class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
    <div class="col-md-2">
        <h4>Actions</h4>
        <a asp-area="Fitness" asp-controller="Workouts" asp-action="Create" class="btn btn-primary">Create a Workout</a>
    </div>
</div>
