@model ErrorViewModel

@using Microsoft.AspNetCore.WebUtilities;

@{
    this.ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (this.Model.StatusCode >= 100 && this.Model.StatusCode <= 999)
{
    <h3>Status code: @this.Model.StatusCode (@ReasonPhrases.GetReasonPhrase(this.Model.StatusCode))</h3>
}

@if (this.Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
    </p>
}