@model BeHealthy.Web.Dtos.Fitness.ExerciseSteps.InputModels.ExerciseStepEditInputModel

@{
    ViewData["Title"] = "Edit";
}

<form asp-area="Fitness" asp-controller="ExerciseSteps" asp-action="Edit" method="post" enctype="multipart/form-data">
    <h1>Edit</h1>
    <hr />
    <div class="form-group">
        <label asp-for="Heading"></label>
        <input asp-for="Heading" class="form-control" />
        <span asp-validation-for="Heading" class="text-danger"></span>
    </div>
    <p>Image</p>
    <p>(leave blank if you don't want to change the picture)</p>
    <div class="custom-file">
        <input asp-for="ImageUpload" class="custom-file-input">
        <label asp-for="ImageUpload" class="custom-file-label">Choose image...</label>
        <span asp-validation-for="ImageUpload" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <input asp-for="Id" hidden>

    <a class="btn btn-danger float-left" asp-area="Fitness" asp-controller="Exercises" asp-action="Details" asp-route-exerciseId="@Model.ExerciseId">Cancel</a>
    <button type="submit" class="btn btn-success float-right">Edit</button>
</form>

@section Scripts{
    <script type="text/javascript">changeFileInputLabel();</script>
}
